/* 
    Document   : styles
    Created on : Feb 21, 2012, 10:28:31 PM
    Author     : PC
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.box{
    border: #000000 1px solid;
    padding: 5px;
}

input
{width: 90%;
}
.underline{
    border-bottom: #000000 1px solid;
}

.italic
{
    font-style: italic;
}

.inputbox{
    border: none;
    
}
.inputboxmiddle{
    width: 200px;
   border: none;
}
.inputboxsamll
{
    width: 30px;
    border: none;
}

.payrate{
    width: 90px;
    height: 90px;
     margin: auto;
}
.payrate input{
    height: 90px;
    width: 90px;
}
.logo{
    padding: 50px;
    width: 500px;
    overflow: hidden;
    margin: auto;
}

table
{
    width: 100%;
}
.pinfo
{
    width: 100%;
}

td 
{
    text-align: left;
    font-style: italic;
    
}

#check td, #check2 td, #check3 td{
    
    vertical-align: top;
    font-style: normal;
}

.values
{
    vertical-align: bottom;
    border-bottom: #000000 1px solid;
    font-style: normal;
    font-weight: bold;
    color: gray;
    
}

.lable{
    font-style: normal;
}

.list{
    padding-bottom: 20px;
    list-style-image: url("images/dot.jpg");
    padding-left: 5px;
}

.uninput
{
    border-bottom: #000000 1px solid; border-left: none;border-top: none;border-right: none; width:150px;
}

.checkinput
{
    border-bottom: #000000 1px solid; border-left: none;border-top: none;border-right: none; width:100px;
}

.checkinputlong
{
    border-bottom: #000000 1px solid; border-left: none;border-top: none;border-right: none; 
}
.checkinputsmall
{
    border-bottom: #000000 1px solid; border-left: none;border-top: none;border-right: none;  width:30px;
}

.message
{
    text-align: center;
}

.success, .warning, .error, .information {
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    color: #555555;
}

.success {
    background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
    border: 1px solid #BBDF8D;
}
.warning {
    background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
    border: 1px solid #F8ACAC;
}
.error {
    background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
    border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .error .close, .information .close {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
    cursor: pointer;
}