
#tabbed_box_1 {
	margin: 0px auto 0px auto;
	width:300px;
}
.tabbed_box h4 {	
	font-size:23px;
	color:#ffffff;
	letter-spacing:-1px;
	margin-bottom:10px;
}
.tabbed_box h4 small {
	color:#e3e9ec;
	font-weight:normal;
	
	text-transform:uppercase;
	position:relative;
	top:-4px;
	left:6px;
	letter-spacing:0px;
}
.tabbed_area_gallery {
	border:1px solid #494e52;
	background-color:#636d76;
	padding:8px;	
}

.tabbed_area img
{
    width: 120px;
    height: 100px;
}

.tabbed_area {	
	padding-bottom:8px;
        padding-top:8px;
}

ul.tabs {
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:6px;
}
ul.tabs li {
	list-style:none;
	display:inline;
}

ul.tabs-gallery {
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:6px;
}
ul.tabs-gallery li {
	list-style:none;
	display:inline;
}

.content ul li table tr td img {
	float: left; width: 80px; height: 80px; margin: 4px; padding: 4px;         
}

ul.tabs li a {	
	color:#1976af;
	padding:8px 14px 8px 14px;
	text-decoration:none;	
        font-size: 14px;
	border-top:1px solid #C6C6C6;
        border-right:1px solid #C6C6C6;
        border-left:1px solid #C6C6C6;
	background-position:bottom;
}
ul.tabs li a:hover {
	background-color:#e1f3fa;
	border-color:#0091de;
}
ul.tabs li a.active {
	
	color:#344aa3;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.2em gray;
	border:1px solid #C6C6C6; 
	border-bottom: 1px solid #ffffff;
         background: -webkit-linear-gradient(top, #95cfec 1%, #9eb8fd 65%, #95cfec 100%);
        background: -ms-linear-gradient(top, #95cfec 1%, #9eb8fd 65%, #95cfec 100%);
        background: -moz-linear-gradient(top, #95cfec 1%, #9eb8fd 65%, #95cfec 100%);
        background:-o-linear-gradient(top, #95cfec 1%, #9eb8fd 65%, #95cfec 100%);
        background: linear-gradient(top, #95cfec 1%, #9eb8fd 65%, #95cfec 100%);
        background-color: #9eb8fd;
}

ul.tabs-gallery li a {
	background-color:#464c54;
	color:#ffebb5;
	padding:8px 14px 8px 14px;
	text-decoration:none;	
        font-size: 14px;
	border:1px solid #C6C6C6;		 
	background-position:bottom;
}
ul.tabs-gallery li a:hover {
	background-color:#2f343a;
	border-color:#2f343a;
}
ul.tabs-gallery li a.active {
	background-color:#ffffff;
	color:#344aa3;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.2em gray;
	border:1px solid #C6C6C6; 
	border-bottom: 1px solid #ffffff;		
}



.content {
	background-color:#ffffff;
	padding:10px;
	border: 1px solid #C6C6C6;	
}

.content-menu {
	background-color:#ffffff;	
	border: 1px solid #C6C6C6;	
}

.content li p
{   
    text-align: justify;
}
#content_2, #content_3 { display:none; }
#contentl2_2, #contentl2_3 { display:none; }
#contentm_2 { display:none; }
#contentr_2 { display:none; }

.content ul, .content-menu ul, .notification ul {
	margin:0px;
	padding:0px 5px 0px 5px;
}
.content ul li, .content-menu ul li, .notification ul li{
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
}
.content ul li:last-child, .content-menu ul li:last-child, .notification ul li:last-child {
	border-bottom:none;
}
.content ul li a, .content-menu ul li a {
	text-decoration:none;
	color:#3e4346;
        background: transparent;
}
.content ul li a small, .content-menu ul li a small {
	color:#8b959c;
	
	text-transform:uppercase;	;
	position:relative;
	left:4px;
	top:0px;
}
.content ul li a:hover, .content-menu ul li a:hover {
	color:#a59c83;
}
.content ul li a:hover small, .content-menu ul li a:hover small {
	color:#baae8e;
}

